@font-face {
    font-family: 'SpaceMono';
    src: url("../assets/fonts/SpaceMono-Regular.ttf");
}

@font-face {
    font-family: 'SpaceMonoB';
    src: url("../assets/fonts/SpaceMono-Bold.ttf");
}

@font-face {
    font-family: 'SpaceMonoBI';
    src: url("../assets/fonts/SpaceMono-BoldItalic.ttf");
}

@font-face {
    font-family: 'SpaceMonoI';
    src: url("../assets/fonts/SpaceMono-Italic.ttf");
}