@use 'colors';
@use 'fonts';

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 24px;
}

body {
    font-family: SpaceMono;
}

.app {
    min-height: 100vh;
    background-color: colors.$lg-cyan;
    display: grid;
    grid-template-rows: 26% 65% auto;
}

.header {
    align-self: center;
    text-transform: uppercase;
    text-align: center;
    color: colors.$dg-cyan;
    font-size: 0.9rem;
    letter-spacing: 0.3rem;

    & span {
        display: block;
    }
}

.card {
    background-color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
    width: 34.4rem;
    height: 18rem;
    margin: auto;
    padding: 1.3rem;
    border-radius: 1.1rem;
    box-shadow: 0rem 0.8rem 2rem -1rem colors.$dg-cyan;

    &__form {
        display: grid;
        grid-template-rows: 1fr 2fr 1fr;
    }

    &__form-section {
        position: relative;
    }

    & label {
        color: colors.$dg-cyan;
        font-family: SpaceMonob;
        font-size: 0.7rem;
        letter-spacing: 0.05rem;
    }

    &__form-bill,
    &__form-people {
        position: relative;
        top: 0.2rem;
        height: 2rem;
        width: 100%;
        padding: 0.6rem;
        font-size: 1rem;
        font-family: SpaceMonoB;
        color: colors.$vdark-cyan;
        text-align: end;
        background-color: colors.$lg-cyan2;
        background-repeat: no-repeat;
        background-size: 0.6rem;
        background-position: 0.6rem;
        border-radius: 0.2rem;
        border: none;

        &:focus {
            border: 0.1rem solid colors.$strong-cyan;
            outline: none;
        }

        &::placeholder {
            font-family: SpaceMono;
            color: colors.$dg-cyan2;
        }
    }

    &__form-bill {
        background-image: url("../assets/images/icon-dollar.svg");
    }

    &__form-people {
        background-image: url("../assets/images/icon-person.svg");

        &--error {
            border: 0.1rem solid colors.$red !important;
        }
    }

    &__form-people-error {
        position: absolute;
        top: 0.4rem;
        right: 0;
        font-size: 0.6rem;
        font-family: SpaceMonoB;
        color: colors.$red;
    }

    &__form-btns {
        align-self: center;
    }

    &__tip-btns {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr 1fr;
        grid-gap: 0.5rem;
        height: 6rem;
        padding: 0.8rem 0;
        margin-top: -0.3rem;
    }

    &__tip-btn {
        border: none;
        background-color: colors.$vdark-cyan;
        color: colors.$white;
        font-size: 0.9rem;
        font-family: SpaceMonoB;
        border-radius: 0.2rem;
        cursor: pointer;

        &--custom {
            background-color: colors.$lg-cyan2;
            color: colors.$vdark-cyan;
            width: 100%;
            text-align: end;
            padding-right: 0.6rem;
            cursor: auto;

            &:focus {
                border: 0.1rem solid colors.$strong-cyan;
                outline: none;
            }

            &::placeholder {
                color: colors.$dg-cyan;
            }
        }

        &--clicked {
            background-color: colors.$strong-cyan;
        }
    }

    &__output {
        background-color: colors.$vdark-cyan;
        border-radius: 0.9rem;
        padding: 1.5rem 1.3rem 1rem 1.3rem;
    }

    &__amount,
    &__total {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__amount-txt,
    &__total-txt {
        font-size: 0.7rem;
        font-family: SpaceMonoB;
        color: colors.$white;

        & span {
            display: block;
            font-size: 0.55rem;
            color: colors.$dg-cyan2;
        }
    }

    &__amount-money,
    &__total-money {
        font-size: 1.8rem;
        font-family: SpaceMonoB;
        color: colors.$strong-cyan;
    }

    &__total {
        position: relative;
        top: 1rem;
    }

    &__reset {
        align-self: flex-end;
        position: relative;
        top: 5.5rem;
        height: 1.8rem;
        width: 100%;
        background-color: colors.$strong-cyan;
        text-transform: uppercase;
        font-family: SpaceMonoB;
        font-size: 0.7rem;
        color: colors.$vdark-cyan;
        border: none;
        border-radius: 0.2rem;

        &:active {
            background-color: colors.$lg-cyan;
        }

        &--enabled {
            opacity: 1;
            cursor: pointer;
        }

        &--disabled {
            opacity: 0.3;
        }
    }
}

.attribution { 
    font-size: 0.5rem; 
    text-align: center; 
    align-self: end;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}
@media screen and (min-width: 1440px) {
    :root {
        font-size: 26px;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    :root {
        font-size: 20px;
    }
}

@media screen and (min-width: 512px) and (max-width: 767px) {
    :root {
        font-size: 19px;
    }

    .app {
        overflow: auto;
        grid-template-rows: 12fr 65fr 0;
    }
    
    .header {
        font-size: 1.7rem;
        letter-spacing: 0.5rem;
    }

    .card {
        width: 26.5rem;
        height: 100%;
        padding: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1.6fr 1fr;
        grid-row-gap: 2.5rem;
        border-radius: 1.5rem 1.5rem 0rem 0rem;

        &__form {
            grid-template-rows: 1fr 4fr 1fr;
        }

        & label {
            font-size: 1rem;
        }

        &__form-bill,
        &__form-people {
            height: 3rem;
            border-radius: 0.5rem;
            background-size: 0.8rem;
            background-position: 1rem;
            font-size: 1.5rem;
            padding: 1rem;
            margin-top: 0.3rem;

            &:focus {
                border-width: 0.15rem;
            }

            &::placeholder {
                font-size: 1.5rem;
            }
        }

        &__form-people--error {
            border-width: 0.15rem !important;
        }

        &__form-people-error {
            font-size: 0.9rem;
            top: 0.1rem;
        }

        &__form-btns {
            height: 80%;
            margin-top: 1.1rem;
            
        }

        &__tip-btns {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 1.1rem;
            margin-top: 0.1rem;
        }

        &__tip-btn {
            font-size: 1.5rem;
            height: 3.2rem;
            border-radius: 0.4rem;

            &--custom {
                font-size: 1.5rem;
                padding-right: 1rem;

                &:focus {
                    border-width: 0.15rem;
                }
            }
        }

        &__output {
            display: grid;
            grid-template-rows: 1fr 1fr 1.3fr;
            padding: 2.5rem 1.5rem 1.5rem 1.5rem;
        }

        &__total {
            top: 0;
        }

        &__amount-txt,
        &__total-txt {
            font-size: 1rem;
            letter-spacing: 0.05rem;

            & span {
                font-size: 0.9rem;
                letter-spacing: 0rem;
            }
        }

        &__amount-money,
        &__total-money {
            font-size: 2.3rem;
        }

        &__reset {
            top: 0;
            height: 3.2rem;
            font-size: 1.35rem;
            border-radius: 0.4rem;
        }

    }
}

@media screen and (min-width: 480px) and (max-width: 511px) {
    :root {
        font-size: 18px;
    }

    .app {
        overflow: auto;
        grid-template-rows: 12fr 65fr 0;
    }
    
    .header {
        font-size: 1.7rem;
        letter-spacing: 0.5rem;
    }

    .card {
        width: 26.5rem;
        height: 100%;
        padding: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1.6fr 1fr;
        grid-row-gap: 2.5rem;
        border-radius: 1.5rem 1.5rem 0rem 0rem;

        &__form {
            grid-template-rows: 1fr 4fr 1fr;
        }

        & label {
            font-size: 1rem;
        }

        &__form-bill,
        &__form-people {
            height: 3rem;
            border-radius: 0.5rem;
            background-size: 0.8rem;
            background-position: 1rem;
            font-size: 1.5rem;
            padding: 1rem;
            margin-top: 0.3rem;

            &:focus {
                border-width: 0.15rem;
            }

            &::placeholder {
                font-size: 1.5rem;
            }
        }

        &__form-people--error {
            border-width: 0.15rem !important;
        }

        &__form-people-error {
            font-size: 0.9rem;
            top: 0.1rem;
        }

        &__form-btns {
            height: 80%;
            margin-top: 1.1rem;
            
        }

        &__tip-btns {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 1.1rem;
            margin-top: 0.1rem;
        }

        &__tip-btn {
            font-size: 1.5rem;
            height: 3.2rem;
            border-radius: 0.4rem;

            &--custom {
                font-size: 1.5rem;
                padding-right: 1rem;

                &:focus {
                    border-width: 0.15rem;
                }
            }
        }

        &__output {
            display: grid;
            grid-template-rows: 1fr 1fr 1.3fr;
            padding: 2.5rem 1.5rem 1.5rem 1.5rem;
        }

        &__total {
            top: 0;
        }

        &__amount-txt,
        &__total-txt {
            font-size: 1rem;
            letter-spacing: 0.05rem;

            & span {
                font-size: 0.9rem;
                letter-spacing: 0rem;
            }
        }

        &__amount-money,
        &__total-money {
            font-size: 2.3rem;
        }

        &__reset {
            top: 0;
            height: 3.2rem;
            font-size: 1.35rem;
            border-radius: 0.4rem;
        }

    }
}

@media screen and (min-width: 368px) and (max-width: 479px) {
    :root {
        font-size: 13.5px;
    }

    .app {
        overflow: auto;
        grid-template-rows: 12fr 65fr 0;
    }
    
    .header {
        font-size: 1.7rem;
        letter-spacing: 0.5rem;
    }

    .card {
        width: 26.5rem;
        height: 100%;
        padding: 2rem;
        grid-template-columns: 1fr;
        grid-template-rows: 1.6fr 1fr;
        grid-row-gap: 2.5rem;
        border-radius: 1.5rem 1.5rem 0rem 0rem;

        &__form {
            grid-template-rows: 1fr 4fr 1fr;
        }

        & label {
            font-size: 1rem;
        }

        &__form-bill,
        &__form-people {
            height: 3rem;
            border-radius: 0.5rem;
            background-size: 0.8rem;
            background-position: 1rem;
            font-size: 1.5rem;
            padding: 1rem;
            margin-top: 0.3rem;

            &:focus {
                border-width: 0.15rem;
            }

            &::placeholder {
                font-size: 1.5rem;
            }
        }

        &__form-people--error {
            border-width: 0.15rem !important;
        }

        &__form-people-error {
            font-size: 0.9rem;
            top: 0.1rem;
        }

        &__form-btns {
            height: 80%;
            margin-top: 1.1rem;
            
        }

        &__tip-btns {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 1.1rem;
            margin-top: 0.1rem;
        }

        &__tip-btn {
            font-size: 1.5rem;
            height: 3.2rem;
            border-radius: 0.4rem;

            &--custom {
                font-size: 1.5rem;
                padding-right: 1rem;

                &:focus {
                    border-width: 0.15rem;
                }
            }
        }

        &__output {
            display: grid;
            grid-template-rows: 1fr 1fr 1.3fr;
            padding: 2.5rem 1.5rem 1.5rem 1.5rem;
        }

        &__total {
            top: 0;
        }

        &__amount-txt,
        &__total-txt {
            font-size: 1rem;
            letter-spacing: 0.05rem;

            & span {
                font-size: 0.9rem;
                letter-spacing: 0rem;
            }
        }

        &__amount-money,
        &__total-money {
            font-size: 2.3rem;
        }

        &__reset {
            top: 0;
            height: 3.2rem;
            font-size: 1.35rem;
            border-radius: 0.4rem;
        }

    }
}