@font-face {
  font-family: "SpaceMono";
  src: url("../assets/fonts/SpaceMono-Regular.ttf");
}
@font-face {
  font-family: "SpaceMonoB";
  src: url("../assets/fonts/SpaceMono-Bold.ttf");
}
@font-face {
  font-family: "SpaceMonoBI";
  src: url("../assets/fonts/SpaceMono-BoldItalic.ttf");
}
@font-face {
  font-family: "SpaceMonoI";
  src: url("../assets/fonts/SpaceMono-Italic.ttf");
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-size: 24px;
}

body {
  font-family: SpaceMono;
}

.app {
  min-height: 100vh;
  background-color: #c5e4e7;
  display: grid;
  grid-template-rows: 26% 65% auto;
}

.header {
  align-self: center;
  text-transform: uppercase;
  text-align: center;
  color: #5e7a7d;
  font-size: 0.9rem;
  letter-spacing: 0.3rem;
}
.header span {
  display: block;
}

.card {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  -moz-column-gap: 2rem;
       column-gap: 2rem;
  width: 34.4rem;
  height: 18rem;
  margin: auto;
  padding: 1.3rem;
  border-radius: 1.1rem;
  box-shadow: 0rem 0.8rem 2rem -1rem #5e7a7d;
}
.card__form {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr;
}
.card__form-section {
  position: relative;
}
.card label {
  color: #5e7a7d;
  font-family: SpaceMonob;
  font-size: 0.7rem;
  letter-spacing: 0.05rem;
}
.card__form-bill, .card__form-people {
  position: relative;
  top: 0.2rem;
  height: 2rem;
  width: 100%;
  padding: 0.6rem;
  font-size: 1rem;
  font-family: SpaceMonoB;
  color: #00494d;
  text-align: end;
  background-color: #f4fafa;
  background-repeat: no-repeat;
  background-size: 0.6rem;
  background-position: 0.6rem;
  border-radius: 0.2rem;
  border: none;
}
.card__form-bill:focus, .card__form-people:focus {
  border: 0.1rem solid #26c0ab;
  outline: none;
}
.card__form-bill::-moz-placeholder, .card__form-people::-moz-placeholder {
  font-family: SpaceMono;
  color: #7f9c9f;
}
.card__form-bill:-ms-input-placeholder, .card__form-people:-ms-input-placeholder {
  font-family: SpaceMono;
  color: #7f9c9f;
}
.card__form-bill::placeholder, .card__form-people::placeholder {
  font-family: SpaceMono;
  color: #7f9c9f;
}
.card__form-bill {
  background-image: url("../assets/images/icon-dollar.svg");
}
.card__form-people {
  background-image: url("../assets/images/icon-person.svg");
}
.card__form-people--error {
  border: 0.1rem solid #d6765c !important;
}
.card__form-people-error {
  position: absolute;
  top: 0.4rem;
  right: 0;
  font-size: 0.6rem;
  font-family: SpaceMonoB;
  color: #d6765c;
}
.card__form-btns {
  align-self: center;
}
.card__tip-btns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 1fr;
  grid-gap: 0.5rem;
  height: 6rem;
  padding: 0.8rem 0;
  margin-top: -0.3rem;
}
.card__tip-btn {
  border: none;
  background-color: #00494d;
  color: white;
  font-size: 0.9rem;
  font-family: SpaceMonoB;
  border-radius: 0.2rem;
  cursor: pointer;
}
.card__tip-btn--custom {
  background-color: #f4fafa;
  color: #00494d;
  width: 100%;
  text-align: end;
  padding-right: 0.6rem;
  cursor: auto;
}
.card__tip-btn--custom:focus {
  border: 0.1rem solid #26c0ab;
  outline: none;
}
.card__tip-btn--custom::-moz-placeholder {
  color: #5e7a7d;
}
.card__tip-btn--custom:-ms-input-placeholder {
  color: #5e7a7d;
}
.card__tip-btn--custom::placeholder {
  color: #5e7a7d;
}
.card__tip-btn--clicked {
  background-color: #26c0ab;
}
.card__output {
  background-color: #00494d;
  border-radius: 0.9rem;
  padding: 1.5rem 1.3rem 1rem 1.3rem;
}
.card__amount, .card__total {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card__amount-txt, .card__total-txt {
  font-size: 0.7rem;
  font-family: SpaceMonoB;
  color: white;
}
.card__amount-txt span, .card__total-txt span {
  display: block;
  font-size: 0.55rem;
  color: #7f9c9f;
}
.card__amount-money, .card__total-money {
  font-size: 1.8rem;
  font-family: SpaceMonoB;
  color: #26c0ab;
}
.card__total {
  position: relative;
  top: 1rem;
}
.card__reset {
  align-self: flex-end;
  position: relative;
  top: 5.5rem;
  height: 1.8rem;
  width: 100%;
  background-color: #26c0ab;
  text-transform: uppercase;
  font-family: SpaceMonoB;
  font-size: 0.7rem;
  color: #00494d;
  border: none;
  border-radius: 0.2rem;
}
.card__reset:active {
  background-color: #c5e4e7;
}
.card__reset--enabled {
  opacity: 1;
  cursor: pointer;
}
.card__reset--disabled {
  opacity: 0.3;
}

.attribution {
  font-size: 0.5rem;
  text-align: center;
  align-self: end;
}

.attribution a {
  color: #00494d;
  text-decoration: none;
  transition: all 0.2s;
}
.attribution a:hover {
  color: white;
}

@media screen and (min-width: 1440px) {
  :root {
    font-size: 26px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  :root {
    font-size: 20px;
  }
}
@media screen and (min-width: 512px) and (max-width: 767px) {
  :root {
    font-size: 19px;
  }

  .app {
    overflow: auto;
    grid-template-rows: 12fr 65fr 0;
  }

  .header {
    font-size: 1.7rem;
    letter-spacing: 0.5rem;
  }

  .card {
    width: 26.5rem;
    height: 100%;
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 1fr;
    grid-row-gap: 2.5rem;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
  }
  .card__form {
    grid-template-rows: 1fr 4fr 1fr;
  }
  .card label {
    font-size: 1rem;
  }
  .card__form-bill, .card__form-people {
    height: 3rem;
    border-radius: 0.5rem;
    background-size: 0.8rem;
    background-position: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 0.3rem;
  }
  .card__form-bill:focus, .card__form-people:focus {
    border-width: 0.15rem;
  }
  .card__form-bill::-moz-placeholder, .card__form-people::-moz-placeholder {
    font-size: 1.5rem;
  }
  .card__form-bill:-ms-input-placeholder, .card__form-people:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .card__form-bill::placeholder, .card__form-people::placeholder {
    font-size: 1.5rem;
  }
  .card__form-people--error {
    border-width: 0.15rem !important;
  }
  .card__form-people-error {
    font-size: 0.9rem;
    top: 0.1rem;
  }
  .card__form-btns {
    height: 80%;
    margin-top: 1.1rem;
  }
  .card__tip-btns {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.1rem;
    margin-top: 0.1rem;
  }
  .card__tip-btn {
    font-size: 1.5rem;
    height: 3.2rem;
    border-radius: 0.4rem;
  }
  .card__tip-btn--custom {
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  .card__tip-btn--custom:focus {
    border-width: 0.15rem;
  }
  .card__output {
    display: grid;
    grid-template-rows: 1fr 1fr 1.3fr;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
  .card__total {
    top: 0;
  }
  .card__amount-txt, .card__total-txt {
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
  .card__amount-txt span, .card__total-txt span {
    font-size: 0.9rem;
    letter-spacing: 0rem;
  }
  .card__amount-money, .card__total-money {
    font-size: 2.3rem;
  }
  .card__reset {
    top: 0;
    height: 3.2rem;
    font-size: 1.35rem;
    border-radius: 0.4rem;
  }
}
@media screen and (min-width: 480px) and (max-width: 511px) {
  :root {
    font-size: 18px;
  }

  .app {
    overflow: auto;
    grid-template-rows: 12fr 65fr 0;
  }

  .header {
    font-size: 1.7rem;
    letter-spacing: 0.5rem;
  }

  .card {
    width: 26.5rem;
    height: 100%;
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 1fr;
    grid-row-gap: 2.5rem;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
  }
  .card__form {
    grid-template-rows: 1fr 4fr 1fr;
  }
  .card label {
    font-size: 1rem;
  }
  .card__form-bill, .card__form-people {
    height: 3rem;
    border-radius: 0.5rem;
    background-size: 0.8rem;
    background-position: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 0.3rem;
  }
  .card__form-bill:focus, .card__form-people:focus {
    border-width: 0.15rem;
  }
  .card__form-bill::-moz-placeholder, .card__form-people::-moz-placeholder {
    font-size: 1.5rem;
  }
  .card__form-bill:-ms-input-placeholder, .card__form-people:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .card__form-bill::placeholder, .card__form-people::placeholder {
    font-size: 1.5rem;
  }
  .card__form-people--error {
    border-width: 0.15rem !important;
  }
  .card__form-people-error {
    font-size: 0.9rem;
    top: 0.1rem;
  }
  .card__form-btns {
    height: 80%;
    margin-top: 1.1rem;
  }
  .card__tip-btns {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.1rem;
    margin-top: 0.1rem;
  }
  .card__tip-btn {
    font-size: 1.5rem;
    height: 3.2rem;
    border-radius: 0.4rem;
  }
  .card__tip-btn--custom {
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  .card__tip-btn--custom:focus {
    border-width: 0.15rem;
  }
  .card__output {
    display: grid;
    grid-template-rows: 1fr 1fr 1.3fr;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
  .card__total {
    top: 0;
  }
  .card__amount-txt, .card__total-txt {
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
  .card__amount-txt span, .card__total-txt span {
    font-size: 0.9rem;
    letter-spacing: 0rem;
  }
  .card__amount-money, .card__total-money {
    font-size: 2.3rem;
  }
  .card__reset {
    top: 0;
    height: 3.2rem;
    font-size: 1.35rem;
    border-radius: 0.4rem;
  }
}
@media screen and (min-width: 368px) and (max-width: 479px) {
  :root {
    font-size: 13.5px;
  }

  .app {
    overflow: auto;
    grid-template-rows: 12fr 65fr 0;
  }

  .header {
    font-size: 1.7rem;
    letter-spacing: 0.5rem;
  }

  .card {
    width: 26.5rem;
    height: 100%;
    padding: 2rem;
    grid-template-columns: 1fr;
    grid-template-rows: 1.6fr 1fr;
    grid-row-gap: 2.5rem;
    border-radius: 1.5rem 1.5rem 0rem 0rem;
  }
  .card__form {
    grid-template-rows: 1fr 4fr 1fr;
  }
  .card label {
    font-size: 1rem;
  }
  .card__form-bill, .card__form-people {
    height: 3rem;
    border-radius: 0.5rem;
    background-size: 0.8rem;
    background-position: 1rem;
    font-size: 1.5rem;
    padding: 1rem;
    margin-top: 0.3rem;
  }
  .card__form-bill:focus, .card__form-people:focus {
    border-width: 0.15rem;
  }
  .card__form-bill::-moz-placeholder, .card__form-people::-moz-placeholder {
    font-size: 1.5rem;
  }
  .card__form-bill:-ms-input-placeholder, .card__form-people:-ms-input-placeholder {
    font-size: 1.5rem;
  }
  .card__form-bill::placeholder, .card__form-people::placeholder {
    font-size: 1.5rem;
  }
  .card__form-people--error {
    border-width: 0.15rem !important;
  }
  .card__form-people-error {
    font-size: 0.9rem;
    top: 0.1rem;
  }
  .card__form-btns {
    height: 80%;
    margin-top: 1.1rem;
  }
  .card__tip-btns {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 1.1rem;
    margin-top: 0.1rem;
  }
  .card__tip-btn {
    font-size: 1.5rem;
    height: 3.2rem;
    border-radius: 0.4rem;
  }
  .card__tip-btn--custom {
    font-size: 1.5rem;
    padding-right: 1rem;
  }
  .card__tip-btn--custom:focus {
    border-width: 0.15rem;
  }
  .card__output {
    display: grid;
    grid-template-rows: 1fr 1fr 1.3fr;
    padding: 2.5rem 1.5rem 1.5rem 1.5rem;
  }
  .card__total {
    top: 0;
  }
  .card__amount-txt, .card__total-txt {
    font-size: 1rem;
    letter-spacing: 0.05rem;
  }
  .card__amount-txt span, .card__total-txt span {
    font-size: 0.9rem;
    letter-spacing: 0rem;
  }
  .card__amount-money, .card__total-money {
    font-size: 2.3rem;
  }
  .card__reset {
    top: 0;
    height: 3.2rem;
    font-size: 1.35rem;
    border-radius: 0.4rem;
  }
}/*# sourceMappingURL=style.css.map */